@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7E59D3;
  --color-secondary: #5EC57E;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

.log-in {
  @apply btn bg-primary border px-3 font-[18px] border-primary h-0 py-4 shadow-none text-white;
}

.sign-up {
  @apply btn h-0 border border-primary px-3 hover:bg-primary hover:text-white text-primary py-4 btn-outline;
}